.font-family-one
{
	font-family: 'Poppins', sans-serif;
}
.font-family-two
{
	font-family: 'Varela Round', sans-serif;
}
.font-family-three
{
	font-family: 'Fredoka One', sans-serif;
}
.font-family-four
{
	font-family: 'Roboto', sans-serif;
}
.font-family-five
{
	font-family: 'Montserrat', sans-serif;
}
.font-family-six
{
	font-family: 'Raleway', sans-serif;
}